// Copyright 2025
// Custom combos for Miryoku

// Enter + Tab = Escape combo
// Works on all layers
// Position 34 = Tab (U_LT(U_MOUSE, TAB))
// Position 35 = Enter (U_LT(U_SYM, RET))

/ {
    combos {
        // Note: compatible property already set by miryoku_kludge_thumbcombos.dtsi
        // Just add our custom combo definitions here

        combo_tab_enter_escape {
            timeout-ms = <50>;
            key-positions = <34 35>;
            bindings = <&kp ESC>;
        };
    };
};
