// Copyright 2025
// Custom macros for Miryoku

/ {
    macros {
        // Hyperkey macro: Cmd + Ctrl + Shift + Alt
        // Perfect for global shortcuts on macOS that won't conflict with apps
        hyperkey: hyperkey {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI &kp LCTRL &kp LSHIFT &kp LALT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LGUI &kp LCTRL &kp LSHIFT &kp LALT>
                ;
        };
    };
};
